body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Light Theme */
.app.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
.app.dark {
  background-color: #121212;
  color: #ffffff;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}