.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #edf3b0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: rgb(33, 33, 33);
  padding: 25px;
  border-radius: 10px;
  width: 300px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0;
}

.success {
  color: green;
}