ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-right: 10px;
    background-color: beige;
}
.active-link{
    background-color: white;
    border: 2px solid black;
}
